@page "/AddClient"

@using EmployeeCrudBlazor.Data
@inject SQLEmployeeRepository employeeService
@inject NavigationManager NavigationManager


<EditForm Model="@obj" OnValidSubmit="CreateNewEmployee">
    <DataAnnotationsValidator />
    <ValidationSummary />
<div class="container">
<h3 class="oi oi-person text-green" aria-hidden="true"> Add New Client</h3>
    <div class="row">
        <div class="col-md-6">
            <label for="FirstName" class="control-label">First Name</label>
            <input form="FirstName" class="form-control" @bind="obj.FirstName" />
            <ValidationMessage For="@(() => obj.FirstName)" />
        </div>
        <div class="col-md-6">
            <label for="LastName" class="control-label">Last Name</label>
            <input form="LastName" class="form-control" @bind="obj.LastName" />
             <ValidationMessage For="@(() => obj.LastName)" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <label for="PostalCode" class="control-label">Postale Code</label>
            <input form="PostalCode" class="form-control" @bind="obj.PostalCode" />
            <ValidationMessage For="@(() => obj.PostalCode)" />
        </div>
        <div class="col-lg-3 col-md-12">
            <label for="Address" class="control-label">Address</label>
            <input form="Address" class="form-control" @bind="obj.Address" />
            <ValidationMessage For="@(() => obj.Address)" />
        </div>
        <div class="col-lg-3 col-md-12">
            <label for="EmailAddress" class="control-label">Email Address</label>
            <input form="EmailAddress" class="form-control" @bind="obj.EmailAddress" />
            <ValidationMessage For="@(() => obj.EmailAddress)" />
        </div>
        <div class="col-lg-3 col-md-12">
            <label for="PhoneNumber" class="control-label">Phone Number</label>
            <input form="PhoneNumber" class="form-control" @bind="obj.PhoneNumber" />
                <ValidationMessage For="@(() => obj.PhoneNumber)" />
        </div>
        <div class="col-lg-12">
            <label for="City" class="control-label">City</label>
            <input form="City" class="form-control" @bind="obj.City" />
            <ValidationMessage For="@(() => obj.City)" />
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <input type="submit" class="btn btn-primary" value="add Client" />
            <input type="button" class="btn btn-danger" @onclick="Cancel" value="Cancel" />
        </div>
    </div>

</div>
</EditForm>
@code {

    Employee obj = new Employee();
    protected async Task CreateNewEmployee()
    {
        await employeeService.AddEmployee(obj);
        NavigationManager.NavigateTo("Clients");
    }
    protected void Cancel()
    {
        NavigationManager.NavigateTo("Clients");
    }
}
